body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div1{
    background-color: darkgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;

}
label {
    font-size: 14px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

/* Input field styles */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Submit button style */
button {
    width: 100%;
    background-color:gold;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

button:hover {
    background-color:white;
}
p, a {
    text-align: center;
    display: block;
    color:black;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
}

a:hover {
    text-decoration: underline;
}